<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>SpaceLab</title>
        <link rel=stylesheet href=/app/assets/css/magic.css>
        <link rel=stylesheet href=/app/assets/css/iview.css>
        <link rel=stylesheet href=/app/css/index.css>

        <link rel=stylesheet href=/app/css/perfsale.css>
        <link rel=stylesheet href=/app/css/reserve_seat_2013.css>

    </head>
    <body>
    <div class=panel-body style="display: none">
        <div id=sales-chart style="height: 250px;"></div>
    </div>
    <div id=app>
        <div class="content">
            <div class="content-left">
                <template>
                    用户：<i-input v-model="username" placeholder="用户名" style="width: 200px" />
                </template>
                <template>
                    密码：<i-input v-model="ps" type="password" placeholder="密码" style="width: 200px" />
                </template>
                <template>
                    演唱会id：<i-input v-model="detailId" placeholder="输入演唱会URL地址" style="width: 200px" />
                </template>
                <template>
                    时间（选择月份即可）：<Date-Picker type="date" v-model="date" placeholder="Select date" style="width: 200px"></Date-Picker>
                </template>
                <div style="height: 5px"></div>
                <br />
                <template>
                    姓名：<i-input v-model="user" placeholder="姓名" style="width: 200px" />
                </template>
                <template>
                    电话：<i-input v-model="tel_1" placeholder="010" style="width: 60px" />
                </template>
                <template>
                    -<i-input v-model="tel_2" type="password" placeholder="5811" style="width: 60px" />
                </template>
                <template>
                    -<i-input v-model="tel_3" type="password" placeholder="2859" style="width: 65px" />
                </template>
                <template>
                    邮寄地址：<i-input v-model="address" placeholder="输入地址" style="width: 500px" />
                </template>
                <div style="height: 5px"></div>
                <br />
                <template>
                    邮箱：<i-input v-model="email" placeholder="输入邮箱" style="width: 130px" />
                </template>
                <br />
                <template>
                    <i-button type="primary" style="margin-top: 10px" @click="running">开始抢票</i-button>
                </template>
            </div>
            <!-- 内容 -->
            <!-- 日期列表 -->
            <div class="frame-content">
                <div v-show="playDateList.length">
                    <h3 class="common-title">当前演唱会【本月】演出场次时间：</h3>
                    <div class="playtime">
                        <ul>
                            <li v-for="item in playDateList" class="date-btn">
                                {{ item }}
                            </li>
                        </ul>
                    </div>
                </div>

               <!-- <div v-show="playDateList.length">
                    <h3 class="common-title">是否存在演唱会抢票状态：</h3>
                    <p class="result_title">[{{sDateStatus}}]</p>
                </div>-->

                <!--<div v-show="step3">
                    <h3 class="common-title">获取当前日期{{date}}场次信息：</h3>
                    <p class="result_title">{{step3}}.......</p>
                </div>
-->
                <div v-show="playSceneList.length">
                    <h3 class="common-title">获取当天【 {{selectDate}} 】场次信息：</h3>
                    <div class="result_title">当天场次：
                        <ul>
                            <li v-for="(item, i) in playSceneList">
                                <span v-bind:class="{ select: item.select }">第{{i + 1}}场：{{ item.scene}}</span>
                            </li>
                        </ul>
                   </div>
                </div>

                <div v-show="seatInfoText">
                    <h3 class="common-title">获取时间：【 {{selectDate}} 】,
                        场次:【{{playSceneList.length? playSceneList[0].scene : ''}}】的坐席信息（查看即可）：</h3>
                    <div class="result_title">坐席：
                        <ul v-html="seatInfoText"></ul>
                    </div>
                </div>
                <div v-show="playInfoText" style="padding: 5px 1px;color: #ed1b1b;font-size: 18px;">..
                    ....................................................... 进入占座
                    ................................................</div>
                <div v-show="playInfoText">
                    <h3 class="common-title">
                        获取详细的【演出时间 和 大厅信息】，【{{selectDate}}】, 相信信息：</h3>
                    <div class="result_title" v-html="playInfoText"></div>
                </div>

                <div v-show="seatInfo">
                    <h3 class="common-title">获取：【{{selectDate}}】, 场次【{{ selectScene.scene }}】详情信息
                        （价格，余位）：</h3>
                    <div class="result_title price-seat" v-html="seatInfo">弹框选座，选座价格</div>
                </div>

                <div v-show="seatInfo">
                    <span class="fenge">............................................................</span>
                    <h3 class="common-title">进入选座环节：【{{date}}】....</h3>
                    <div class="result_title" style="    color: #FF5722;
                    font-weight: 700;
                    text-shadow: 1px 3px 7px #161616;
                    font-size: 16px;">智能选座...........</div>

                    <!-- 弹出选座 界面-->
                    <div class="bx_seatbg">
                        <div class="seatarea">
                            <div class="bx_top"></div>
                            <div id="divGuide" class="bx_con1">
                                <div id="divContainer" class="raffer" style="width: 678px;height: 585px;/* background-image: url(&quot;http://tkfile.yes24.com/upload2/hallimg/8000/8491/8491b_0_0.jpg&quot;); */background-repeat: no-repeat;background-position: 0px 0px;">
                                    <div id="divSeatArray"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div id="selectSeatMap">

                    </div>-->

                    <!-- 本月可以选择的 抢票日期 -->
                    <!--<span>本月可以选择的 抢票日期</span>
                    <i-Select v-model="Day" style="width:200px">
                        <i-Option v-for="item in selectDay" :value="item.value" :key="item.value">{{ item.label }}</i-Option>
                    </i-Select>-->
                </div>
               <!-- <h3 class="common-title">获取当天{{date}}场次时间：</h3>
                <p class="result_title">当天场次：{{playSceneList.join(' , ')}}</p>-->
            </div>
        </div>
    </div>
    <script src="/app/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/app/assets/js/vue.min.js"></script>
    <script src="/app/assets/js/iview.min.js"></script>
    <script src="/app/js/index.js"></script>
    </body>
</html>