
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="wap-font-scale" content="no">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="width">
    <meta name="applicable-device" content="mobile">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <link rel="stylesheet" type="text/css" href="/app/common/css/common.css">
    <link rel="stylesheet" type="text/css" href="/app/src/
<%=pageName%>/index.css">

    <title>学点云</title>

